.page {
    display: flex;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 1024px) {
    .page {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .page {
        flex-direction: column;
        align-items: center;
    }
}