.form-sender__input_bottom {
    margin: 0;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    text-align: left;
    border-bottom: 2px solid rgb(82, 144, 216);
}

.form-sender__input_bottom:invalid {
    border-bottom: 2px solid red;
}

@media screen and (min-width: 1024px) {
    .form-sender__input_bottom {
        width: 500px;
    }
}