.header {
    position: relative;
    display: flex;
}

@media screen and (min-width: 1024px) {
    .header {
        flex-flow: column;
        width: 380px;
        height: 175vh;
        background: url(https://b-pi.ru/local/templates/yoo_aurora_bitrix/image/back.png);
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .header {
        background: none;
        width: 320px;
        height: auto;
    }
}