.header__esc {
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;
    margin-left: 25px;
    cursor: pointer;
    background: url(../../../images/Обратно.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header__esc:hover {
    opacity: 50%;
}

@media screen and (min-width: 1024px) {
    .header__esc {
        margin-right: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .header__esc {
        margin-right: 70px;
    }
}